.container {
  width: 100%;
  background: #fff;
  margin: 0 auto;
  padding:2rem;
  display: grid;
  grid-template-columns: 1fr 0.3fr;
}

.article {
  justify-self: center;
  align-self: center;
  color:#000;
  margin-left:1rem;
  
  
}

.article-title {
  text-align: center;
  margin-bottom: 1.625rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 27px;
}



.article-text {
  letter-spacing: 1px;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  padding:0.325rem
}





@media only screen and (max-width:1400px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
  }
  
  .article {
    margin-left:0;
    
  }

  .article-title {
    text-align: center;
    margin-bottom: 1.125rem;
    font-weight: 400;
    letter-spacing: 2px;
  }

  .article-text {
    letter-spacing: 1px;
    text-align: left;
    font-weight: 300;
  }

}

@media only screen and (max-width:1024px) {
  .container {
    width: 100%;
  }
}


@media only screen and (max-width:840px) {
  .container {
    padding:0;
    grid-template-rows: auto auto;
  }

  .article-title {
    text-align: center;
    margin-top: 1.125rem;
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: 2px;
  }

  .article-text {
    padding: 1rem;
    margin-bottom: 4.625rem;
  }
  .article-text::after {
    
    transform: translateX(-3%);
    width:95%;
    
  }

  .article-text::before {
    transform: translateX(2%);
    width:95%;
  }
}

@media only screen and (max-width:400px) {
  
  .article-text::after {
    
    transform: translateX(-3%);
    width:95%;
    
  }

  .article-text::before {
    transform: translateX(2%);
    width:95%;
  }
}