.container {
  margin:0 auto;
  width: 100%;
 background: #fff;

 text-align: center;
 color: #000;
  
}

.title-container {
  width: 65vw;
  margin:0 auto;
  margin-top: 6rem;
  margin-bottom: 1rem;
}

.title {
  text-align: left;
  padding: 1rem;
  padding-left: 2rem;
  font-weight: 400;
  font-size: 27px;
  letter-spacing: 1px;
}

.title-text {
  width:45%;
  text-align: left;
  padding-left: 2rem;
  font-size: 14px;
  letter-spacing: 1px;
}


.grid {
  background: #fff;
  margin: 0 auto;
  max-width: 65vw;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.card-item {
  padding:1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-title {
  font-weight:400;
  font-size: 18px;
  margin-top: 0.625rem;
  padding:0.325rem;
  position: relative;
}




@media only screen and (max-width:1024px) {
  .container {
    width: 100vw;
  }
  .grid {
    grid-template-columns: repeat(3,1fr);
    max-width:100vw;
  }

  .title-container {
    width: 100vw;
    margin:0 auto;
    margin-top: 6rem;
    margin-bottom: 1rem;
  }
  
  .title {
    text-align: center;
    padding: 1rem;
    font-weight: 400;
    font-size: 27px;
    letter-spacing: 1px;
  }
  
  .title-text {
    width:60%;
    margin:0 auto;
    text-align: center;
  }
}

@media only screen and (max-width:840px) {
  .grid {
    grid-template-columns: repeat(2,1fr);
  }

  .title-text {
    width:65%;
  }
}


@media only screen and (max-width:500px) {

  .title {
    margin:1.325rem;
  }

  .card-item {
    padding: 0.525rem;
  }
  .item-title {
    font-size: 1.1rem;
    margin-top: 0.325rem;
    padding:0.125rem;
  }

  .title-container {
    margin-top: 3rem;
  }

  .title {
    margin: 0 auto;
  }

  .title-text {
    width:90%;
    margin:0 auto;
    text-align: center;
  }
}