.container {
  background-color: white;
  /* grid-auto-flow: column; */
  width: 100%;
  margin:0 auto;
  margin-top: 55px;
  min-height: 80vh;
  color: black;
  
}

.page-title {
  padding-top: 1rem;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1px;
}

.page-title-text {
  font-weight: 400;
  font-size: 14px;
  width:50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 1rem;
  letter-spacing: 1px;
}


.info-form-container {
  width: 80%;
  margin:0 auto;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 48% 48%;
  gap: 4%;
  margin-top: 3rem;
}

.information-title {
  font-weight: 400;
  font-size: 25px;
}

.information-list {
 
  padding: 0;
}

.info-map {
  letter-spacing: 1px;
}

.information-list-item {
  font-weight: 300;
  font-size: 14px;
}

.information-list-item strong {
  font-weight:400;
  font-size:14px;
}

.map-container {
  overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
} 




/* Contact Form */
.form-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
}

.form-input,
.form-input-textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.text-area {
  max-width:100%;
  max-height:300px;
  font-family: inherit;
  outline: none;
}

.form-title {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 0.825rem;
}

.form-title-text {
  font-weight: 300;
  margin-bottom: 0.725rem;
  font-size: 0.9rem;
}

.form-label {
  font-size: 1rem;
  font-weight: 400;
  padding: 0.625rem 0;
}

.input {
  font-family: inherit;
  width: 50%;
  padding:0.625rem;
  outline: none;
}

.button {
  width:30%;
  margin-top: 1rem;
  padding: 1rem;
  font-family: inherit;
  background: black;
  color:white;
  font-size: 1rem;
  font-weight:300;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
}

.info-message {
  margin-top: 1rem;
  font-family: inherit;
  font-weight: 300;
}



@media only screen and (max-width:1024px) {
  .container {
    width: 100%;
  }

  .info-form-container {
    width: 95%;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    padding-bottom: 5rem;
  }

  .text-area {
    max-height: 120px;
  }
}

@media only screen and (max-width:840px) {
  .info-form-container {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }

  .button {
    width:50%;
  }
}


@media only screen and (max-width:400px) {
  
  .page-title-text {
    width: 95%;
  }
  
  .input {
    width: 100%;
  }

  .button {
    width: 100%;
    padding: 1rem;
  }
}