.footer-container{
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top:3rem;
  padding-bottom: 1rem;
  background-color: #000;
 display: flex; 
 justify-content: space-evenly;
 align-content: center;
 color:#989898;
}




.information-container {
  letter-spacing: 1px;
}


.information-title {
  text-align: left;
  font-size: 1.325rem;
  padding-left:2rem;
  margin-bottom: 1rem;
}

.information-list {
  margin:0;
  padding:0;
  padding:1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.information-list-item{
  padding: 0.325rem;
  font-weight:400;
  font-size:0.9rem;
  
}

.social-media {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  
}

.social-media-title{
  font-size: 1.325rem;
  margin-bottom: 1rem;
}



.facebook {
  font-size: 2.25rem;
  padding: 1rem;
}

.facebook:hover {
  filter: brightness(120%);
}

.instagram {
  font-size: 2.25rem;
  padding: 1rem;
}

.instagram:hover {
  filter: brightness(120%);
}

.location:hover {
  filter: brightness(120%);
}

.location-icon {
  padding: 0.325rem;
}


.copyright {
 margin-top: 2rem;
 text-align: center;
}


@media only screen and (max-width:1024px){
  .footer-container  {
    width: 100%;
  }
}

@media only screen and (max-width:840px) {
  .footer-container{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .information-container {
    text-align: center;
    margin-bottom: 2rem;
  }
  .information-title {
    text-align: center;
  }

  .social-media {
    padding: 2rem;
  }

  .copyright {
    text-align: center;
  }
}