

.content-wrapper{
  width: 100%;
  margin-top: 2rem;
  min-height:90vh;
  
  background: #f2f2f2;
  padding-bottom: 5rem;
}


.container{
  width:90%;
  margin:0 auto;
  display: grid;
  padding:2rem;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows:1.3fr 10%;
  gap: 2%;
}



.carousel {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  grid-column: 1/2;
  grid-row:1/2;
}


.information {
  font-family: inherit;
  grid-column: 2/3;
  grid-row:1/2;
  justify-self: center;
  display: flex;
  width: 60%;
  height:100%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  color:#000;
  background: #FDFAF9;
}

.information-link {
  font-size: 14px;
  font-weight: 400;
  margin-top:0.425rem;
  padding: 0.325rem;
  position: relative;
}


.information-title {
  margin-top: 1rem;
  letter-spacing: 2px;
  font-size: 27px;
  font-weight: 400;
  position: relative
}

.information-text {
  font-weight: 400;
  font-size: 14px;
  margin-top: 2rem;
  padding:0.325rem;
}



.product-details-list{
  display: flex;
  flex-wrap :wrap;
  padding: 0;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
}

.product-details-list-item {
  padding:0.625rem;
}


.carousel__track-container {
  position: relative;
  height: 100%;
  overflow: hidden;
 }

 .carousel__track {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  transition: transform 200ms ease-in;
 
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height:100%;
}


.carousel__button {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}

.carousel__button--left {
  left: -40px;
}

.carousel__button--right {
  right: -40px;
}

.carousel__arrow-color {
  color:#000;
}

.carousel__nav {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  gap:0.325rem;
  justify-content: center;
  
  grid-row:2/3;
}

.carousel__nav-button {
  padding: 0;
  position: relative;
  width:100px;
  height: 56.25px;
  background: transparent;
  border:none;
  cursor: pointer;
}

.nav-indicator {
  border: 2px solid rgb(212, 153, 42);
}
@media only screen and (min-width:1750px) {
  .information {
    margin-bottom: 6rem;
  }
}

@media only screen and (min-width:1650px) {
  .content-wrapper {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width:1600px) {
 
  .information {
    width: 80%;
    grid-row:1/4;
  }
}

@media only screen and (max-width:1400px) {
 

  .information {
    width: 80%;
    grid-row:1/3;
  }

 

  .product-details-list-item {
    padding:0.325rem;
  }
}



@media only screen and (max-width:1200px) {
  

  .product-details-list-item {
    padding:0.125rem;
  }
}


@media only screen and (max-width:1024px) {
  .page-wrapper {
    padding: 0;
  }
  .content-wrapper{
   
    padding-bottom: 3rem;
  }

  .carousel__button {
    display: none;
  }

  
  .container {
    padding: 0;
    padding-top: 1.5rem;
   width: 100%;
   display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr ;
  }
  
  .carousel {
    margin-top: 0;
    width: 100%;
    height:55vw;
    grid-column:1;
    grid-row: 1/2;
  }

  .carousel__nav {
    margin-top: 1rem;
    grid-column:1;
    grid-row: 2/3;
    display: flex;
    flex-wrap: wrap;
  }

  .carousel__nav-button {
    
    width:70px;
    height:39.38px;
  }

  .information {
    width: 100%;
    grid-column:1;
    grid-row: 3/4;
    font-size: 1rem;
    letter-spacing: 1px;
    
  }

  .information-title {
    padding-top: 1rem;
    margin-bottom: 2rem;
  }

  .information-text {
    margin-top: 0.625rem;
    padding:0.325rem;
  }
  

  .product-details-list-item {
    padding:0.325rem;
  }
}


