@font-face {
  font-family: 'Averta';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/averta-light-webfont.woff2) format('woff2');
}

@font-face {
  font-family: 'Averta';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/averta-regular-webfont.woff2) format('woff2');
}




* {
  box-sizing: border-box;
  --main-color: black;
  --text-color: #fff;
  --text-black-color:#fff;
  
}

html,
body {
  margin: 0;
  background-color: #fff;
  padding: 0;
  font-family: 'Averta', serif;
  color: #000;
}

h1,h2,h3,h4,p {
  margin:0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


li {
  list-style-type: none;
}

.fa-chevron-right {
  font-size: 1.535rem;
 
  color: #000;
}

.fa-chevron-left {
  font-size: 1.535rem;
  color: #000;
}





@media only screen and (max-width:840px) {
  


  a {
    cursor: default;
  }
}