.home-wrapper {
  padding-bottom: 1.875rem;
  
}



.home-video {
  position: relative;
  top:-55px;
  aspect-ratio: 16/9;
  width: 100%;
  height:auto;
}

.landing-image {
  position: relative;
 
}


.container {
  margin: 0 auto;
  background-color: #fff; 
}

.products-container {
  padding-bottom: 4rem;
}

.container section {
  margin-top: 5rem;
}

.page-title {
  margin-top: 1rem;
  padding-top: 2rem;
  font-weight: 400;
  font-family: 'Averta', sans-serif;
}
.page-title h1 {
  font-size: 2em;
  text-align: center;
}

.page-title p {
  font-weight: 400;
  font-size: 14px;
  padding: 2rem;
  width: 60vw;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 1.3px;
}

.products-title {
  display: block;
  position: relative;
  margin-top: 5rem;
  padding: 2.5rem;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 2px;
}

.products-title::after {
  content: '';
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  bottom: 15px;
  width: 50px;
  height: 2px;
  background-color: #000;
}


/* Carousel */

.carousel {
  position: relative;
  width:80%;
  margin: 0 auto;
  height: 600px;
}

.carousel__track-container {

 position: relative;
 height: 100%;
 overflow: hidden;
}

.carousel__track {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  transition: transform 500ms ease-in;
 
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height:100%;
}

.carousel__button {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}

.carousel__button--left {
  left: -40px;
}

.carousel__button--right {
  right: -40px;
}


.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}


.carousel__indicator {
  border: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, 0.6);
  margin: 0 12px;
  cursor:pointer;
}

.current-indicator {
  background: rgba(0, 0, 0, 1);
}

.product-text {
  font-size: 14px;
  font-weight: 400;
}

/* Grid container for 3 li */

.products-grid {
 width: 100%;
 display:flex;
 flex-direction: row;
 align-items: center;
 gap: 6%
}
.products-grid article {
  width: 38%;
  letter-spacing: 1.2px;
}

.products-grid article h3 {
  padding: 1rem 0;
  letter-spacing: 1.5px;
}

.products-grid div{
  display: block;
  width: 58%;
}

.products-button {
  
  display: inline-block;
  text-align: center;
  font-weight: 400;
  margin-top: 1rem;
  padding: 0.625rem;
  color:#fff;
  cursor:pointer;
  width:30%;
  background: #000;
  border: 1px solid #000;
}

.products-button:hover {
  background: #fff;
  color:#000;
}

@media only screen and (max-width: 1600px) {
  .carousel {
    height: 500px;
  }
}

@media only screen and (max-width: 1400px) {
  .carousel {
    height: 400px;
  }
}

@media only screen and (max-width: 1200px) {
  .carousel {
    height: 350px;
  }
}



@media only screen and (max-width:1024px){
 .home-wrapper {
  padding: 0;
}

.home-video {
  top:0px;
}

.container {
  margin: 0 auto;
 
}

.products-container {
  padding-bottom: 4rem;
}



.container section {
  margin-top: 2rem;
}

.page-title {
  margin-top: 3rem;
  padding-top: 1rem;

}

.page-title h1 {
  font-size: 2rem;
  text-align: center;
}

.page-title p {
  padding: 1rem;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.7px;
}

.products-title {
  display: block;
  position: relative;
  margin-top: 2rem;
  padding: 1.5rem;
  margin: 0 auto;
  text-align: center;
}

.products-title::after {
  content: '';
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  bottom: 20px;
  width: 50px;
  height: 2px;
  background-color: #000;
}

.carousel {
  height: 600px;
  width: 100vw;
  padding: 0 0.5rem;
}

.carousel__button {
  display: none;
}

.products-grid {
  width: 100%;
  display: grid;
  gap:unset;
  grid-template-columns: 1fr;
  grid-template-rows: 60% 40%;
}

.products-grid article {
  width:100%;
  height:100%;
  grid-row: 2/3;
  letter-spacing: 0.7px;
  
}

 .products-grid article h3 {
   text-align: center;
   padding-bottom: 1rem;
 }

 .products-grid article p {
  padding: 0.2rem 1rem;
  text-align: center;
 }
 
 .products-grid div{
   width: 100%;
   height:100%;
   grid-row: 1/2;
 }
 .products-button {
   padding:0.525rem;
   margin-top:2.5rem;
   position: relative;
   left:50%;
   transform: translateX(-50%);
 }

 .products-button {
  width: 20%;
}


}



@media only screen and (max-width: 400px) {
  .carousel {
    height: 60vh;
  }

  .products-grid {
    grid-template-rows: 40% 60%;
  }
  .products-grid article {
    width:100%;
    height:100%;
    grid-row: 2/3;
    letter-spacing: 0.7px;
    
  }
  .products-button {
    margin-top: 3rem;
    width: 40%;
    padding: 0.425rem;
  }

  .products-grid article p {
    padding: 0 1rem;
  }
} 


