.page-wrapper {
  background-color: #fff;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-container {
 
  /* width:80%; */
}

.title-container {
  width:50%;
  margin: 0 auto;
  margin-top: 6rem;
  padding-left:4rem;
}

.title {
  
  text-align: left;
  display: block;
  
  padding: 1rem 0;
  font-weight: 400;
  font-size: 27px;
  color: #000;
  letter-spacing: 1px;
  position: relative;  
}

.title-text {
  width: 60%;
  text-align: left;
}





.section {
    
  padding:2rem;
}

.section-title {
  margin-top: 1rem;
  margin-bottom: 3rem;
  color:#000;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
}




.material-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width:100%;
  align-items: start ;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}

.material-title {
  color:#000;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
  padding:0.625rem;
  position: relative;
}


.material-text {
  color:var(--text-black-color);
  font-weight: 300;
  letter-spacing: 0.5px;
}

@media only screen and (max-width: 1600px) {
  .title-container {
    padding-left: 0;
  }
}



@media only screen and (max-width: 1024px) {
  .page-wrapper {
    width: 100%;
    left: 0;
  }

  .title-container {
    width:100%;
    margin: 0 auto;
    margin-top: 6rem;
  }
  
  .title {
    
    text-align: center;
    display: block;
  }
  
  .title-text {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
}

@media only screen and (max-width: 840px) {
  .container {
    max-width: 100vw;
  }

  .material-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .section{
    padding: 1rem 0;
  }
  .section-container {
    width:100%;
  }
}


@media only screen and (max-width: 500px) {

  

  .section-title {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  
  

  .material-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .title-container {
    margin-top: 0;
  }

  .title {
    margin: 0;
  }

  .title-text {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}
