.header {
  width: 100%;
  margin-bottom: 3.4375rem ;
  
}

/* Flex Container */


.container {
  width: 100%;
  margin:0 auto;
  font-weight: 400;
  position: fixed;
  top: 0;
  left: 0;
  display:flex;
  align-items: center;
  z-index: 10;
  background-color: rgba(0,0,0, 0.7);
  color: rgb(240, 238, 238);
  font-size: 15px;
  height: 55px;
}

.logo {

  margin: 0;
  padding:0;
  padding-top: 5px;
  margin-right: auto;
  margin-left: 3rem;
}

.links {
  display: flex ;
  justify-content: space-evenly;
  width: 60%;
  margin-right: 1.125rem;
  letter-spacing: 1px;
  font-weight: 400;
}

.link-animation:hover {
  filter: brightness(120%);
}

/* .link-animation{
  position:relative;
  
}

.link-animation::after {
  content: '';
  position: absolute;
  left:0;
  bottom:0;
  background: #fff;
  width:100%;
  height:1px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.link-animation::before {
  content: '';
  position: absolute;
  left:0;
  top:0;
  background: #fff;
  width:100%;
  height:1px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
}
.link-animation:hover::before {
  transform:scaleX(1);
  transform-origin: right;
}

.link-animation:hover::after {
  transform:scaleX(1);
  transform-origin: left;
} */



/* Navigation Burger Icon (for smartphones)*/

.burger {
  display: none;
  margin-right: 15vw;
}

.burger div {
  
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 0.3125rem;
  transition: all 0.3s ease;
}

/* Dropdown + Button */

.btn {
  border: none;
  font-size: 1rem;
  font-weight: inherit;
  letter-spacing: inherit;
  padding: 0;
  font-family: inherit;
  background-color: inherit;
  color:inherit;
 
}
.btn:hover {
  cursor: pointer;
}

.hasDropdown {
  position: relative;
  font-weight: 400;
}


.dropdown {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0.5rem;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 2;
  top: 100px;
  visibility: hidden;
  opacity: 0;
  left:0;
  transform: translateX(-15%);
  transition: top 300ms ease-out;
  line-height: 1.8rem;
  letter-spacing: 0.5px;
}

.dropOpen {
  top: 37px;
  visibility: visible;
  opacity: 1;
}

.specialItems {
    
  line-height: 1.2;
}


@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
    left: 0;
  }
}


@media only screen and (max-width: 840px) {
    /* ul container li(s)  */
  .container {
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
  }

  .links {
      z-index: 8;
      position: absolute;
      margin: 0;
      padding: 0;
      left: 0;
      top: 55px;
      width:100vw;
      height: calc(100vh - 55px);
      background-color: black;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      line-height: 4.5rem;
      transform: translateX(-100%);
      transition: transform 0.5s ease-in-out;
      
  }

  .link-animation{
    all:unset;
  }

  .link-animation::after {
    all: unset;
  }

  .link-animation:hover::after {
    all: unset;
  }

  .link-animation::before {
    all: unset;
  }

  .link-animation:hover::before {
    all: unset;
  }

  .burger {
    display: block;
    
  }

  .link {
    opacity: 0;
    animation: navLinkFade 0.85s ease forwards;

  }

  .delay1 {
    animation-delay: 0.25s;
  }


  .delay2 {
    animation-delay: 0.45s;
  }

  .delay3 {
    animation-delay: 0.65s;
  }

  .delay4 {
    animation-delay:1.05s;
  }

  .delay5 {
    animation-delay: 0.85s;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(-200px);
    }
  
    to {
      opacity: 1;
      transform: translateX(0px);
    }
    
  }

  .hasDropdown {
    order:2;
  }
 
  .dropdown {
  width:100%;
   padding: 0.5rem;
   top:200px;
   left:0;
   transform:translateX(-6%);
   position: absolute;
   justify-content: space-around;
   
   background: rgba(0, 0, 0, 0.6);
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
   z-index: 2;
   flex-direction: column;
   visibility: hidden;
   opacity: 0;
   transition: opacity 250ms ;
   line-height: 2rem;
   font-size: 0.8rem;
 }

  .specialItems{
    padding-top: 0.325rem;
    justify-self: flex-end;
  }

 
 .dropOpen {
   top: 50px;
   visibility: visible;
   opacity: 1;
 }

}



.navActive {
  transform: translateX(0%);
  
}

/* Burger Animation */
.toggleLine1 {
  transform: rotate(-48deg) translate(-3px,4px);
}

.toggleLine2 {
  opacity: 0;
}

.toggleLine3 {
  transform: rotate(48deg) translate(-6px,-7px);
}